name: Build Mac Installer

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install dependencies
      run: npm install

    - name: Build Mac App
      run: npm run build:mac

    - name: Upload Mac Installer
      uses: actions/upload-artifact@v4
      with:
        name: mac-installer
        path: dist/

